nav.navbar {
    div.button-container {
        width: 100%;
        div.row {
            div {
                button {
                    display: block;
                    float: right;;
                }
            }
        }
    }
}