div.gametable {
    margin: 5px;
    width: 1430px;
    display: block;
    margin: 0 auto;
    div.card-container {
        width: 110px;
        min-height: 151px;
        display: block;
        float: left;
        margin-top: 5px;
    }
}